body {
    background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, rgba(22, 82, 165, 0.16) 80px), repeating-linear-gradient(#969afa, #2f2a8d);
    background-color: rgba(22, 82, 165, 0.16);
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;

    margin: 20px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    font-size: 14px;
}

span {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    color: #ffffff;
    font-weight: 100;
    font-size: 32px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.card-img {
    width: 150px;
}

.card {
    flex-basis: 250px;
    padding: 20px 10px;
    border-radius: 10px;
    backface-visibility: hidden;
    box-shadow: 5px 5px 30px ;
    backdrop-filter: blur(7px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 70px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 16px;
    background-color: transparent;
    color: #ffffff;
    transition: 0.4s;
}

.included {
    background-color: #ffffff;
    color: #2f2a8d;
    transition: 0.4s;
}

button:hover {
    background-color: #969afa;
    border: 1px solid #2f2a8d;
}

.included:hover {
    background-color: #969afa;
    border: 1px solid #2f2a8d;
    color: #ffffff;
}